#resultImage{

width:100%;
height:100%;

object-fit:cover;

display:none;

border-radius:30px;
}

#placeholder{

width:100%;
height:100%;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

color:white;

text-align:center;
}
